@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>

    <h2>Student Details</h2>
    <div>
        <ul>
            <li><strong>Name: </strong>Marc Louie Garcia</li>
            <li><strong>Age: </strong>22</li>
            <li><strong>Gender: </strong>Male</li>
            <li><strong>Address: </strong>Sta. Clara</li>
        </ul>
    </div>

    <div>
        <h2>Student Image</h2>
        <img src="~/Images/Student.jpg" alt="Student Image"/>
    </div>

    <div class="mt-2">
        <h2>Student Table</h2>
        <table class="student-table">

            <tr>
                <th>Game Name</th>
                <th>Player Name</th>
                <th>Game Title/Rank</th>
            </tr>

            <tr>
                <th>Dota 2</th>
                <th>Cast1eL-</th>
                <th>Immortal 1</th>
            </tr>

            <tr>
                <th>Minecraft</th>
                <th>7ouuu</th>
                <th>Redstoner</th>
            </tr>

        </table>

    </div>

</div>